* {
      margin: 0;
      padding: 0;
}
body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(247, 247, 247);
}
.landing-title {
      padding: 20px;
      margin-right: 35px;
      max-width: calc(50% - 35px);
      display: flex;
      flex-direction: column;
      justify-content: center;
} 
.landing-title h1 {
      margin-bottom: 10px;
      font-size: 45px;
      color: #1877F2;
}   
.landing-title p {
      font-size: 25px;
}    
.login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 70px 35px 0; 
      max-width: calc(50% - 35px);
      border-radius: 10px;
      width: 350px;
      height: 320px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      background-color: white;
}
hr {
      margin-bottom: 20px;
      margin-top: 10px;
      width: 330px;
}
    
input, button {
      margin-bottom: 25px;
      width: 330px;
      height: 45px;
      border-radius: 7px;
      padding-left: 10px;
      font-size: 17px;
      border: 1px solid rgb(216, 215, 215);
}
.login-form a {
      text-decoration: none;
      color: #1877F2;
}
#login {
      color: white;
      font-size: 18px;
      font-weight: bold;
      background-color: #1877F2;
}
#login:hover {
      opacity: .9;
      cursor: pointer;
}
#create-account {
      color: white;
      background-color: #36A420;
      width: 180px;
      padding: 10px;
}
#create-account:hover {
      opacity: .9;
      cursor: pointer
}

/* Media Queries */
@media (max-width: 990px) {
      body {
        flex-direction: column;
      }
    
      .landing-title,
      .login-form {
        margin: 80px auto 0 auto;
        max-width: 100%;
        text-align: center;
      }
      .landing-title p {
            width: 450px;
      }
      .login-form {
            margin-top: 30px;
      }
}
@media (max-width: 500px) {
      .landing-title {
            display: block;
            margin: 0 auto;
            width: 350px;
      }
      .landing-title p {
            width: 335px;
      }
      .login-form {
            display: block;
            margin: 0 auto;
            width: 320px;
      }
      .login-form input {
            width: 315px;
      }
}


/* Create Account Form/Page */
.create-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 40px 35px 0; 
      max-width: calc(50% - 35px);
      border-radius: 10px;
      width: 350px;
      height: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      background-color: white;
}
.create-form h1 {
      margin-bottom: 20px;
      text-align: center;
}
.create-form textarea {
      width: 320px;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 20px;
}
.create-form button {
      display: block;
      margin: 0 auto;
}
#post-new-account {
      color: white;
      background-color: #36A420;
      width: 180px;
      padding: 10px;
}
#post-new-account:hover {
      opacity: .9;
      cursor: pointer
}

/* Media Queries */
@media (max-width: 770px) {
      .create-form {
            max-width: 310px;
      }
      .create-form h1 {
            width: 300px;
            text-align: center;
      }
      .create-form form {
            width: 320px;
      }
      .create-form form input {
            width: 305px;
      }
      .create-form textarea {
            width: 300px;
      }
}

/* Profile HTML */
.navbar {
      background-color: #3b5998;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 100%;
}   
.navbar-logo {
      font-weight: bold;
      font-size: 20px;
      margin-left: 15px;
}   
.navbar-menu {
      list-style-type: none;
      display: flex;
      gap: 10px;
      margin-right: 15px;
}   
.navbar-item a {
      color: #fff;
      text-decoration: none;
      padding: 5px;
} 
.navbar-item a:hover {
      background-color: #fff;
      color: #3b5998;
      border-radius: 3px;
}

.container {
      display: flex;
      gap: 20px;
}
.sidebar {
      width: 30%;
      position: absolute;
      left: 20px;
      top: 100px;
      padding: 10px;
      color: #3b5998;
      font-size: 20px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
}
    
.profile {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
}
    
.profile-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
}
    
.find-friends {
      margin-bottom: 20px;
}

#findFriends {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
}


.search-bar {
      width: 95%;
      height: 20px;
      padding: 5px;
      font-size: 15px;
}

.searchButton {
      width: 95%;
      background-color: #3b5998;
      color: white;
      height: 40px;
}

.friendsImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
}
.post {
      margin-bottom: 20px;
}

.post textarea {
      width: 95%;
}

.buttons button {
      width: 95%;
      background-color: #3b5998;
      color: white;
      height: 40px;
}
    
.feed {
      width: 55%;
      position: absolute;
      right: 20px;
      top: 100px;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
}

.feed-title {
      margin-bottom: 20px;
      text-align: center;
      font-size: 22px;
      color: #3b5998;
}
    
.post-item {
      margin-bottom: 20px;
}
    
.post-header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
}
    
.user-profile-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 10px;
}
    
.username {
      font-weight: bold;
      margin-right: 10px;
}
    
.timestamp {
      color: gray;
}
    
.post-image {
      max-width: 95%;
      margin: 10px;
      border-radius: 10px;
}
    
.post-description {
      margin: 10px;
}
    
.comments-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
}
    
.comment {
      margin: 10px;
}
    
.hidden {
      display: none;
}